<p id="notice"><%= notice %></p>

<h1>To-Do Items</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Starred</th>
      <th>Hidden</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.description %></td>
        <td><%= todo_item.starred %></td>
        <td><%= todo_item.hidden %></td>
        <td><button type='button' class='btn'><%= link_to 'Show', todo_item %></button></td>
        <td><button type='button' class='btn'><%= link_to 'Edit', edit_todo_item_path(todo_item) %></button></td>
        <td><button type='button' class='btn'><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type='button' class='newbtn'><%= link_to 'New To-Do item', new_todo_item_path %></button>
