<h1>All Items</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @todo_item.description %>
</p>

<p>
  <strong>Starred:</strong>
  <%= @todo_item.starred %>
</p>

<p>
  <strong>Hidden:</strong>
  <%= @todo_item.hidden %>
</p>

<button type='button' class='showbtn'><%= link_to 'Edit', edit_todo_item_path(@todo_item) %></button> |
<button type='button' class='showbtnback'><%= link_to 'Back', todo_items_path %></button>
